.shop-list-title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.shop-list-wrapper {
    font-size: 0;
}
.shop-list-wrapper .shop {
    display: inline-block;
    width: calc((100% - 20px)/3);
    vertical-align: top;
    font-size: 18px;
    border: 1px solid #c9c9c9;
    margin-right: 10px;
    padding: 20px;
    text-align: center;
    min-height: 80px;
    cursor: pointer;
    margin-bottom: 10px;
}
.shop-list-wrapper .shop .custom-label{
    font-size: 18px;
    display: block;
    font-weight: bold;
    color: #000000;
}
.shop-list-wrapper .shop.last-shop-in-a-row {
    margin-right: 0;
}

